.popup {
    text-align: center;
    margin: 5% 25% 0% 25%;
    background-color: #888;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 3px 3px #222;
}

li b {
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    margin: 0% 35% 10px 35%;
    background-color: #999;
    border-radius: 4px;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    box-shadow: 2px 2px #222;
    cursor: pointer;
}

@media screen and (max-width: 450px) {    
    .popup {
        text-align: center;
        margin: 5% 5% 0% 5%;
        background-color: #888;
        border-radius: 5px;
        border: 1px solid;
        box-shadow: 3px 3px #222;
    }

    li b {
        display: block;
        text-align: center;
        padding: 5px;
        text-decoration: none;
        margin: 0% 25% 10px 25%;
        background-color: #999;
        border-radius: 4px;
        border: 1px solid;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        box-shadow: 2px 2px #222;
        cursor: pointer;
    }
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

.popup_buttons {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

li b:visited {
    color: black;
}

li b:hover{
    background-color: #777;
}

// Navigation button(s)
.landing_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_buttons {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
}

li a {
    display: block;
    text-align: center;
    padding: 30px 100px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #999;
    border-radius: 4px;
    border: 1px solid;
    max-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    box-shadow: 2px 2px #222;
    cursor: pointer;
}

li a:visited {
    color: black;
}

li a:hover{
    background-color: #777;
}