// Chat wrappers
.entire_chat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat {
    position: relative;
    margin-top: 35px;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 5px 5px #222;
    background-color: #999;
    width: min(100%, 450px);
    font-family: Arial, Helvetica, sans-serif;
}

.sent_by_me {
    border: 1px;
    border-style: solid;
    background-color: #888;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    box-shadow: 2px 2px #222;
    max-width: calc(100% - 60px);
    overflow-wrap: break-word;
    background-color: teal;
    clear: both;
    float: right;
    margin-right: 5px;
}

.sent_by_them {
    border: 1px;
    border-style: solid;
    background-color: #888;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 2px;
    box-shadow: 2px 2px #222;
    max-width: calc(100% - 60px);
    overflow-wrap: break-word;
    clear: both;
    float: left;
    cursor: pointer;
}

.their_message_wrap .hover_like {
    display: none;
}

.their_message_wrap ttm-msg-item:hover + .hover_like {
    display: block;
    opacity: 0.5;
}

img {
    margin-top: 10px;
}

.my_message_wrap {
    clear: both;
    float: right;
    max-width: min(calc(90vw - 40px), 410px);
}

.their_message_wrap {
    clear: both;
    float: left;
    max-width: min(calc(90vw - 40px), 410px);
}

.join_leave {
    color: #333;
    width: 80%;
    background-color: #999;
    position: absolute;
    left: 15px;
    top: 5px;
    font-size: 12px;
}

// Messages
.messages {
    display: flex;
    overflow: auto;
    flex-direction: column-reverse;
    overflow-y: scroll;
    max-height: min(calc(80vh - 85px), 550px);
    margin-right: 5px;
    padding-bottom: 5px;
    margin-top: 22px;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding-inline-start: 15px;
    margin-top: 0;
}

// Chat box
ttm-send-chat{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

// Navigation button(s)
.menu {
    list-style-type: none;
    position: fixed;
    left: 0;
    top: 0;
    padding-right: 10px;
    padding-inline-start: 0px;
    margin: 0;
}

.menu_buttons a {
    display: block;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #999;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: 2px 2px #222;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.menu_buttons a:visited {
    color: black;
}

.menu_buttons a:hover{
    background-color: #777;
}

// Scroll Bar
::-webkit-scrollbar {
    width: 5px;
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}