<nav>
    <a routerLink="/landing">Home</a>
</nav>
<div class='entire_chat'>
    <div class="chat">
        <div class="message_box">
            <ul>
                <li *ngFor="let msgItem of msgList">
                    <span [ngSwitch]="msgItem.type">
                        <ttm-msg-item *ngSwitchCase="'message'" [item]="msgItem"></ttm-msg-item>
                        <ttm-join-leave *ngSwitchCase="'joinleave'" [item]="msgItem"></ttm-join-leave>
                        <p *ngSwitchDefault>this is an error</p>
                    </span>
                </li>
            </ul>
        </div>

        <ttm-send-chat (submit)="sendMsg($event)"></ttm-send-chat>
    </div>
</div>
