.ttm-title-div {
    text-align: center;
    height: 95px;
}

.ttm-title {
    display: inline-block;
    margin: 10px auto;
    padding: 12px 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #8887;
    box-shadow: 2px 2px #222;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

.main_bg {
    z-index: -900;
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}