.ttm-title {
    text-align: center;
}

.main_bg {
    background-image: url(../assets/lake_sunset.png);
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}