<div [ngSwitch]="loginSuccessful">
    <div *ngSwitchCase="true" class="admin_main">
        <div class='admin_buttons'>
            <ul class='buttons'>
                <li><a class='admin_button' (click)="this.router.navigate(['/admin/reports']);">View reports</a></li>
                <li><a class='admin_button' (click)="this.router.navigate(['/admin/bans/']);">View bans</a></li>
            </ul>
        </div>
    </div>
    <div *ngSwitchCase="false" class='input_wrapper'>
        <div class='inputBox'>
            <input #passBox placeholder="Enter password" (keydown.enter)="attemptLogin(passBox.value); passBox.value = ''">
            <a class='input_button' (click)="attemptLogin(passBox.value); passBox.value = ''">Login</a>
        </div>
    </div>
</div>
